<form [formGroup]="purchaseForm" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field>
      <mat-label>Product</mat-label>
      <mat-select [(value)]="selectedProduct">
        <mat-option *ngFor="let product of products" [value]="product.id"
          >{{ product.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Quantity</mat-label>
      <input matInput formControlName="quantity" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Supplier</mat-label>
      <input matInput formControlName="supplierName" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Invoice Amount</mat-label>
      <input matInput formControlName="invoiceAmount" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Invoice Number</mat-label>
      <input matInput formControlName="invoiceNumber" />
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" type="submit">
    Add new Purchase
  </button>
</form>
